<ng-container *ngIf="!isTable">
  <div *ngIf="title" class="mf-title">{{title}}</div>
  <fieldset class="mf-array" [formGroup]="form">
    <div class="mf-element" *ngFor="let item of form.controls; let i = index;">
      <ng-container [ngSwitch]="item.schema.type">
        <app-mapped-form-group *ngSwitchCase="'object'" [form]="item"></app-mapped-form-group>
        <app-mapped-form-array *ngSwitchCase="'array'" [form]="item"></app-mapped-form-array>
        <app-mapped-form-control *ngSwitchDefault [form]="form" [key]="i"></app-mapped-form-control>
      </ng-container>
      <div class="mf-array-buttons">
        <span class="mf-control-button mf-delete-button oi" data-glyph="x" (click)="delete(i)"></span>
        <span *ngIf="i > 0" class="mf-control-button mf-up-button oi" data-glyph="chevron-top" (click)="up(i)"></span>
        <span *ngIf="i < form.controls.length - 1" class="mf-control-button mf-down-button oi" data-glyph="chevron-bottom" (click)="down(i)"></span>
      </div>
    </div>
    <span class="mf-control-button mf-add-button oi" data-glyph="plus"  (click)="add()"></span>
  </fieldset>
</ng-container>
<app-mapped-form-table *ngIf="isTable" [form]="form"></app-mapped-form-table>